// Small devices (landscape phones, 576px and up)
@media (max-width: 320px) { 


    .headlogo{
        
        margin: 0 !important;
        column-gap: 1rem !important;
    }

    .container{
        width: 100% !important;
    }

    .bloghead {
        width: 80% !important;
        justify-content: space-around !important;
    }


}