@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
h1{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 6.25rem;
    color: #2C2F24;
    line-height: 96px;    
}
h2{
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 55px;
    color: #2C2F24;
    line-height: 60px; 
    text-align: center;      
}
h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

}