@mixin navbtn(){    
    color: black;
    padding: 4px 16px 4px 16px;
    border-radius: 32px;  
    text-decoration: none;  
    
}

@mixin menubtn($color,$bgc,$width){
    color: $color;
    background-color: $bgc;
    border: 1px solid #DBDFD0;
    padding:  12px 24px;
    width: $width;
    border-radius: 32px;  
    text-decoration: none;  
    margin: 0 8px ;
    display: flex;
    align-items: center;
    justify-content: center;    
}

@mixin imgbtn($color, $bgc){
    color: $color;
    background-color: $bgc;
    border: 1px solid $color; 
    padding: 20px 32px 20px 32px;
    border-radius: 32px;
    text-decoration: none;
       
}

@mixin card(){
    border: 1px solid #DBDFD0;
    width: 306px;
    height: 375px; 
    padding: 40px 32px 32px 32px;
    border-radius: 12px; 
    margin: 6px;
    text-align: center;
    box-sizing: border-box;
}
@mixin customer(){
    width: 416px;
    height: 408px;
    background-color: #F9F9F7;
    border-radius: 12px;
    padding: 40px 35px 35px 35px;
    box-sizing: border-box;
}

@mixin blogcard(){
    width: 306px;
    height: 354px;
    background-color:#FFFFFF;
    border-radius: 12px;
    box-sizing: border-box;
}
// for flex center
@mixin flexCenter($flex){
    display: flex;
    flex-direction: $flex;
    justify-content: center;
    align-items: center;
}
// form mixin
@mixin form(){
    width: 100%;
    height: 65%;
    border: 1px solid #DBDFD0;
    border-radius: 72px;
    padding: 0 24px 0 24px;
}

@mixin formbox($width){
    width: $width;
    height: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
